/* 共通設定 */

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    background-color: #EFEBE6;
}

.content{
    width: 94vw;
}

.head2{
    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    padding-left: 60px;
    padding-top: 150px;
}

.btn{
    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    border: solid 1px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.5s, background-color 0.5s, scale 0.5s, border 0.5s ease-in-out;
}

.btn:hover{
    /* transform: scale(1.05); Luxy.jsが悪さしてるみたいで効かない。喧嘩はおやめなさい */
    background-color: #000;
    color: #fff;
    border-color: #000;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.target-wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

.target{
    position: absolute;
}

.about-sentence,.scenes-sentence{
    text-align: justify;
}

/*---表示切替---*/

.tablet-m{
    display: none;
}

.mobile{
    display: none;
}

.desktop.mobile{
    display: block;
}


/*-----target-----*/

#top{
    top: 0;
}

#about{
    top: 900px;
}

#shop{
    top: 2000px;
}

#scenes{
    top: 2900px;
}

#news{
    top: 6300px;
}

/* --------------menu--------------- */

#menu{
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 6vw;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 100;
    transition: all 0.3s;
}

#menu.active{
    width: 25vw;
    text-align: left;
}

.header-nav.active{
    display: block;
}

.header-icons.active{
    margin-left: 40px;
}

.header-close-btn.active{
    display: block;
}

.header-menubar.active{
    display: none;
}

.header-icon-instagram.active{
    padding-left: 3px;
}

.header-icon-link.active{
    width: fit-content;
    height: fit-content;
}

.header-close-btn{
    display: none;
    background-color: #fff;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 32px;
}

.header-menubar-button{
    background-color: #fff;
    border: none;
}

.header-menubar{
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header-menubar:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.menubar{
    width: 45px;
    height: 2px;
    background-color: #000;
    margin-top: 7px;
}

.header-nav{
    display: none;
}

.header-nav-ul{
    padding: 0;
    margin-left: 40px;
    margin-top: 30px;
}

.header-nav-li{
    list-style: none;
    margin-bottom: 20px;
}

.header-nav-li a{
    text-decoration: none;
    font-family: "rift", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.75;
    font-size: 32px;
}

.header-icons{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-icon{
    font-size: 2em;
    margin-top: 20px;
}


.header-icon-link{
    transition: all 0.2s ease-in;
    text-decoration: none;
    color: #000;
}

.header-icon-link:hover{
    transform: scale(1.1);
}

/*--------------hero--------*/

.hero-mainimg{
    position: relative;
    width: 100%;
}

.hero-logo{
    filter: invert(1);
    position: fixed;
    left: 60px;
    top: 40px;
    width: 150px;
    z-index: 100;
}

.hero-title{
    position: absolute;
    font-size: 10em;
    top: 200px;
    left: 60px;
    font-family: "rift", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0.75;
    color: #fff;
}

.hero-btn{
    position: absolute;
    top: 620px;
    right: 150px;
    color: #fff;
    border-color: #fff;
}

/*-----------about------------*/

.about-column{
    display: flex;
    position: relative;
    margin-top: 50px;
}

.about-subtitle{
    font-family: "rift", sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 0.75;
    position: absolute;
    top: 150px;
    left: 18%;
}

.about-sentence{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 400px;
    margin-top: 350px;
    margin-left: 120px;
    margin-right: 20px;
}

.about-column-right{
    width: 60%;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: auto;
    padding-bottom: 250px;
}

/*----------items----------*/

.items{
    background-color: #8C9FAD;
    height: 1000px;
}

.items-title{
    color: #fff;
}

.shop-column{
    position: relative;
    display: flex;
}

.shop-column-left{
    position: absolute;
    left: -150px;
    display: flex;
    margin-top: 250px;
}

/*------item テンプレ--------*/

.item{
    width: 250px;
    margin-left: 30px;
}

.item-img-wrap{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.item:hover .item-img{
    transform: scale(1.05);
}

.item-img{
    height: 250px;
    object-fit: cover;
    transition: all 0.2s ease-in;
}

.item-title{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
}

.item-price{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    padding-top: 30px;
}

.item-colors{
    display: flex;
    padding-top: 10px;
}

.itemcolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.itemcolor:not(:first-child){
    margin-left: 5px;
}

.item-colors-white{
    background-color: #fff;
}

.item-colors-brack{
    background-color: #000;
}

.item-colors-red{
    background-color: #F87070;
}

.item-colors-green{
    background-color: #5E7048;
}

.item-colors-blue{
    background-color: #8DF7F1;
}

/*------------*/

.shop-column-right{
    text-align: right;
    margin-right: 120px;
    margin-left: auto;
    margin-top: 100px;
}

.shop-subtitle{
    color: #fff;
    font-family: "rift", sans-serif;
    font-weight: 700;
    line-height: 0.75;
    font-size: 96px;
    text-align: right;
}

.shop-sentence{
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 60px;
}

.shop-btn{
    color: #fff;
    border-color: #fff;
    margin-top: 100px;
}

/*--------scenes---------*/

.scenes-template{
    margin-top: 150px;
    display: flex;
}

.scenes-column-left{
    position: relative;
    width: 60vw;
}

.scenes-left-main{
    position: relative;
}

.scenes-main{
    position: absolute;
    width: 40vw;
    height: 400px;
    object-fit: cover;
    left: 62px;
    top: 70px;
}

.scenes-column-title{
    position: absolute;
    left: 60px;
    color: #fff;
    font-family: "rift", sans-serif;
    font-weight: 700;
    line-height: 0.75;
    font-size: 200px;
}

.scenes-subimg{
    position: absolute;
    width: 30vw;
    left: 20vw;
    top: 470px;
}

.scenes-column-right{
    position: relative;
    margin-right: 120px;
    margin-left: auto;
    margin-top: 150px;
    text-align: right;
}

.scenes-sentence{
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 380px;
    margin-right: 0;
    margin-left: auto;
}

.scenes-btn{
    margin-top: 60px;
}

.scenes-shop{
    display: flex;
    margin-top: 200px;
}

.scenes .item{
    width: 180px;
}

.scenes-item-img-wrap{
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.item:hover .scenes-item-img{
    transform: scale(1.05);
}

.scenes-item-img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: all 0.2s;
}

.scenes .item-title,.scenes .item-price{
    text-align: left;
    color: #000;
}

/*-----travel カラム逆転------*/

.scenes-travel{
    flex-direction: row-reverse;
}

.scenes-travel .scenes-column-left{
    margin-right: 120px;
}

.scenes-travel .scenes-main{
    right: 0;
    left: auto;
}

.scenes-travel .scenes-subimg{
    right: 15vw;
    left: auto;
}

.scenes-travel .scenes-column-title{
    left: auto;
    right: 0;
    text-align: right;
    margin-right: 0;
}

.scenes-travel  .scenes-column-right{
    margin-left: 60px;
}

/*--------------news---------*/

.news{
    margin-top: 100px;
    margin-right: 120px;
    margin-bottom: 300px;
}

.news-wrap{
    display: flex;
    margin: 100px 20px;
}

.news-content{
    width: 100%;
}

.news-content:hover .news-img{
    transform: scale(1.05);
}

.news-content-p,.news-date{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 5px;
}

.news-img-wrap{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.news-btn{
    display: block;
    margin-top: 80px;
    margin-right: 60px;
    margin-left: auto;
}

.news a{
    margin: 30px;
    width: 33%;
}

/*--------footer-----------*/

.footer-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.footer-wrap{
    margin: 60px;
}

.footer-logo-wrap{
    display: flex;
}

.footer-logo{
    width: 200px;
    height: auto;
    margin-right: 50px;
}

.footer-nav-ul{
    padding: 0;
}

.footer-nav-li{
    list-style: none;
}

.footer-li-a{
    text-decoration: none;
    color: #000;
    font-family: "rift", sans-serif;
    font-weight: 400;
    line-height: 0.9;
    font-size: 32px;
}

.footer-column{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-icon{
    font-size: 48px;
    margin-right: 10px;
}

.footer-addres{
    font-family: "rift", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 120px;
}

.footer-copy{
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
}

.footer-copy a{
    text-decoration: underline;
}

.footer-copy-wrap{
    margin-top: 100px;
    margin-bottom: 50px;
}

@media (max-width: 1199px) {

    /*-----共通-------*/
    .btn{
        font-size: 32px;
    }

    .head2{
        font-size: 32px;
    }

    /*-------target-------*/

    #top{
        top: 0;
    }
    
    #about{
        top: 700px;
    }

    #shop{
        top: 1800px;
    }

    #scenes{
        top: 3500px;
    }

    #news{
        top: 7300px;
    }

    /*------menu-----*/


    /*---表示切替---*/

    .desktop{
        display: none;
    }

    .tablet-m{
        display: block;
    }

    .mobile{
        display: none;
    }

    .desktop.mobile{
        display: none;
    }


    /*----------menu-------*/

    #menu{
        width: 70px;
    }

    .header-menubar:hover{
        transform: scale(1.05);
        transition: all 0.3s;
    }

    /*------hero--------*/

    .hero-mainimg{
        height: 80vh;
        object-fit: cover;
    }

    .hero-logo{
        width: 100px;
        left: 30px;
    }

    .hero-title{
        font-size: 7em;
        top: 150px;
    }

    .hero-btn{
        top: 400px;
        right: 80px;
    }

    /*------about------*/

    .about-subtitle{
        font-size: 84px;
        top: 50px;
        left: 13%;
    }

    .about-sentence{
        margin-top: 0;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px;
    }

    .about-column-right{
        margin-right: 0;
        padding-bottom: 0;
        width: 70%;
    }

    /*------shop-------*/

    .items{
        height: 100%;
    }

    .shop-column{
        display: block;
        height: auto;
    }

    .shop-column-left{
        width: 93%;
        left: 0;
        flex-wrap: wrap;
        margin-top: 0;
        height: fit-content;
        position: relative;
        padding-bottom: 100px;
    }

    .shop-column-left .item{
        margin-bottom: 80px;
    }

    .shop-subtitle{
        font-size: 72px;
    }

    .shop-column-right{
        margin-bottom: 100px;
    }

    .shop-sentence{
        margin-top: 20px;
    }

    .shop-btn{
        margin-right: 0;
        margin-left: auto;
        margin-top: 70px;
    }

    /*--------scenes-------*/

    .scenes-template{
        display: block;
        margin-bottom: 300px;
    }

    .scenes-template.scenes-gomisute{
        margin-bottom: 0;
    }

    .scenes-column-left{
        width: 100%;
    }

    .scenes-main{
        position: static;
        width: 41%;
        height: 350px;
        margin-left: 60px;
    }

    .scenes-subimg{
        position: static;
        height: 350px;
        width: 41%;
        object-fit: cover;
    }

    .scenes-imgs-main{
        display: flex;
        justify-content: left;
    }

    .scenes-column-title{
        top: -100px;
    }

    .scenes-column-right{
        margin-right: 0;
        margin-top: 50px;
        margin-left: 30px;
    }

    .scenes-sentence{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .scenes-btn{
        margin-top: auto;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: 100px;
    }

    .scenes-shop{
        margin-top: 100px;
    }

    .scenes-travel .scenes-column-title{
        right: 100px;
        top: -50px;
    }

    .scenes-gomisute .scenes-column-title{
        top: 0;
    }

    /*-------news----------*/

    .news{
        margin-right: 50px;
    }

    .news-wrap{
        display: block;
        margin-left: 60px;
    }

    .news-content{
        display: flex;
        margin-top: 50px;
    }

    .news-img-wrap{
        width: 200px;
        height: 130px;
    }

    .news-img{
        min-width: 200px;
        width: 200px;
        height: 130px;
    }

    .news-date-wrap{
        margin-left: 20px;
    }

}
    
@media (max-width: 750px) {

    /*----共通---*/

    .head2{
        padding-left: 30px;
    }

    /*--表示切替------*/

    .mobile{
        display: none;
    }

    /*---target----*/

    #top{
        top: 0;
    }
    
    #about{
        top: 700px;
    }

    #shop{
        top: 1500px;
    }

    #scenes{
        top: 3200px;
    }

    #news{
        top: 7300px;
    }

    /*---------menu-------*/

    #menu{
        height: 70px;
        width: 100vw;
        top: 0;
        left: 0;
        text-align: unset;
    }

    .hero-logo{
        filter: none;
        position: fixed;
        width: 150px;
        top: 20px;
        left: 30px;
    }

    .header-menubar{
        margin-left: auto;
        margin-right: 30px;
        margin-top: 20px;
    }

    .header-icons{
        position: absolute;
        top: 0;
        left: auto;
        right: 100px;
        flex-direction: row;
        margin: 0;
        bottom: 0;
    }

    .header-icons .header-icon-link{
        width: fit-content;
    }

    .header-icon{
        margin-left: 20px;
    }

    #menu.active{
        width: 100vw;
        height: 60vh;
    }

    .header-close-btn.active{
        margin-top: 15px;
        margin-right: 30px;
        margin-left: auto;
    }

    .header-icon-instagram.active{
        padding-left: 0px;
    }

    /*-----hero----*/

    .hero{
        margin-top: 60px;
    }

    .hero-title{
        left: 30px;
    }

    .hero-btn{
        top: 440px;
        right: 30px;
    }

    /*------products------*/

    .shop-column-left{
        width: 100%;
    }

    .item{
        width: 200px;
    }

    .item-img-wrap{
        width: 200px;
        height: 200px;
    }

    .item-img{
        height: 200px;
    }

    .shop-column-right{
        margin-right: 30px;
    }

    /*------scenes-----*/

    .scenes-imgs-main{
        margin-right: 30px;
    }

    .scenes-main{
        margin-left: 30px;
        width: 50%;
        overflow: hidden;
    }

    .scenes-subimg{
        width: 50%;
    }

    .scenes-column-title{
        font-size: 140px;
        left: 30px;
    }

    .scenes-shop{
        flex-wrap: wrap;
    }

    .scenes-btn{
        margin-top: 100px;
        margin-bottom: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .scenes-column-right{
        margin-left: 0;
    }

    .scenes-travel .scenes-column-title{
        right: 30px;
        left: auto;
    }

    .scenes-travel .scenes-column-right{
        margin-left: 0;
    }

    .scenes-template.scenes-travel,.scenes-template.scenes-travel{
        margin-bottom: 200px;
    }

    .scenes-gomisute .scenes-column-title{
        font-size: 110px;
    }

    /*------news------*/

    .news{
        margin-right: 30px;
        margin-bottom: 200px;
    }

    .news-wrap{
        margin-left: 30px;
        margin-top: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .news-content{
        margin-top: 0;
    }

    .news-img-wrap{
        width: 150px;
        height: 80px;
    }

    .news-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .news-date-wrap{
        width: 80%;
    }

    .news-btn{
        margin-right: 0;
    }

    /*----footer------*/

    .footer-wrap{
        margin: 60px 30px;
    }

    .footer-img{
        height: 200px;
    }

    .footer-logo{
        width: 120px;
        height: 100%;
        margin-top: 10px;
    }

    .footer-li-a{
        font-size: 24px;
    }

    .footer-icon{
        font-size: 32px;
    }

    .footer-addres{
        font-size: 18px;
        margin-right: 0px;
        margin-left: auto;
    }
}

@media (max-width: 480px){

    /*----共通-----*/

    .btn{
        font-size: 24px;
    }

    .head2{
        padding-left: 20px;
        font-size: 32px;
        padding-top: 100px;
    }

    /*---target-----*/

    #top{
        top: 0;
    }
    
    #about{
        top: 700px;
    }

    #shop{
        top: 1500px;
    }

    #scenes{
        top: 2800px;
    }

    #news{
        top: 6800px;
    }

    /*--------表示切替---------*/

    .scenes .mobile{
        display: block;
    }

    .scenes .tablet-m{
        display: none;
    }

    .scenes

    /*-----menu-----*/

    .menubar{
        width: 35px;
    }

    .header-menubar{
        margin-right: 20px;
    }

    .header-icons{
        right: 80px;
    }

    .header-icon{
        font-size: 24px;
        margin-top: 25px;
        margin-left: 15px;
    }

    .hero-logo{
        width: 80px;
        left: 20px;
        top: 30px;
    }

    .header-icon-instagram.active{
        padding-left: 0px;
    }

    /*--------hero------------*/

    .hero{
        margin-top: 60px;
    }

    .hero-title{
        font-size: 96px;
        text-align: right;
        right: 20px;
        left: auto;
        top: 80px;
    }

    .hero-btn{
        top: 450px;
        right: auto;
        left: 20px;
    }

    .hero-mainimg{
        height: 70vh;
    }

    /*------about-------*/

    .aboutus{
        height: 800px;
    }

    .about-subtitle{
        font-size: 64px;
        left: 20px;
        top: 20px;
        width: 60%; /*改行用*/
    }

    .about-sentence{
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        font-size: 14px;
        margin-top: 0;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .about-column-right{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /*-------shop--------*/

    .shop-column-right{
        margin-right: 20px;
        margin-top: 60px;
    }

    .shop-subtitle{
        font-size: 64px;
    }

    .shop-sentence{
        font-size: 14px;
    }

    .shop-column-left{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    .item{
        width: 150px;
        margin-left: 0;
    } 

    .shop-item-1{
        margin-right: 10px;
    }

    .shop-item-3{
        margin-right: 10px;
    }

    .item-img-wrap{
        width: 150px;
        height: 150px;
    }

    .item-img{
        width: 100%;
        height: 100%;
    }

    .item-title{
        font-size: 15px;
    }


    /*--------scenes-------*/

    .scenes-template{
        margin-top: 100px;
        margin-bottom: 200px;
    }

    .scenes-column-left{
        width: 100%;
    }

    .scenes-column-right{
        margin-top: 30px;

    .scenes-main{
        width: 100%;
        height: 300px;
        margin-left: 0;
    }

    .scenes-subimg{
        width: 70%;
        height: 150px;
        margin-right: 0;
        margin-left: auto;
    }

    .scenes-column-title{
        left: 18px;
        top: -150px;
    }

    .scenes-street .scenes-column-title{
        font-size: 130px;
    }

    .scenes-sentence{
        font-size: 14px;
        width: 100%;
        padding: 0 20px;
    }

    .scenes-shop{
        justify-content: space-around;
    }

    .scenes .item{
        width: 150px;
    }

    .scenes-item-1{
        margin-left: 20px;
    }

    .scenes-item-2{
        margin-right: 20px;
    }

    .scenes-item-img-wrap{
        width: 150px;
        height: 150px;
    }

    .scenes-item-img{
        width: 150px;
        height: 150px;
    }

    .scenes-btn{
        margin-left: 20px;
        margin-top: 50px;
    }

    .scenes-travel .scenes-column-title{
        top: -80px;
    }

    .scenes-gomisute .scenes-column-title{
        top: -70px;
        font-size: 100px;
    }

    /*-------news------*/

    .news{
        margin-bottom: 200px;
    }

    .news-wrap{
        margin-bottom: 50px;
    }

    .news-btn{
        margin-top: 0;
    }

    /*---footer----*/

    .footer-logo{
        width: 100px;
        margin-top: 5px;
    }
}
